<div class="contact-form" novalidate="">
    <div class="controls controls-row">
        <div class="control-group">
            <input class="{{name.elemClass}}" name="name" placeholder="{{name.elemText}}" type="{{name.elemType}}">
        </div>
        <div class="control-group">
            <input class="{{email.elemClass}}" name="email" placeholder="{{email.elemText}}" type="{{email.elemType}}">
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <input class="{{subject.elemClass}}" name="subject" placeholder="{{subject.elemText}}" type="{{subject.elemType}}">
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group ">
            <textarea class="{{message.elemClass}}" name="message" placeholder="{{message.elemText}}" rows="5"></textarea>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <button class="{{button.elemClass}}" id="contactSubmit_B" name="submitButton" type="{{button.elemType}}">{{button.elemText}}</button>
        </div>
    </div>
</div>